<!DOCTYPE html>
<html>

<head>
    <title>SD Elective Socket.io Chat Example</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://raw.githack.com/Junzlay/emoji-library/main/emoji.css">

    <link rel="stylesheet" href="../assets/css/index.css">


    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="emoji.css">
    <script src="emoji.js"></script> -->
</head>

<body>
    <div class="container">

        <!-- to run this file you need to type "npm install" in the cmd 
       afterwards run the "node server.js" then open localhost:5000  -->

        <div id="content"></div>
    </div>

    <script type="text/template" id="message">
        <li class="<%= position %>">
            <div class="head">
                <span class="time"><%= time %></span>
                <span class="name"><%= username %></span>
            </div>
            <div class="<%= type %>">
                <%= message %>
            </div>
        </li>
    </script>

    <script type="text/template" id="chatUsers">

        <!-- this will disply new message -->
    <li id="everyone">
        <i class="fa fa-users fa-fw user-icon"></i>
        <div class="info">
            <div class="user">Group Chat</div>
            <div class="message-alert label label-warning">New message</div>
        </div>
    </li>
    <% if (_.isEmpty(users)) { %>
        <li class="no-user">
            <p>No user online..</p>
        </li>
        <% } %>
            <% _.each(users, function(user) { %>
                <li id="<%= user.username %>">
                    <i class="fa fa-user fa-fw user-icon"></i>
                    <div class="info">
                        <div class="user">
                            <%= user.username %>
                        </div>
                        <div class="status <%= user.status %>">
                            <%= user.status %>
                        </div>
                        <div class="message-alert label label-warning">New message</div>
                    </div>
                </li>
                <% }); %>
    </script>


    <script type="text/template" id="receiver">
        <div class="avatar">
            <% if (receiver == 'everyone') { %>
                <i class="fa fa-users"></i>
                <% } else { %>
                    <i class="fa fa-user"></i>
                    <% } %>
        </div>


        <div class="info" >
            <% if (receiver == 'everyone') { %>
                <div class="name">Group Chat (all users)</div>
                <% } else { %>
                    <div class="name">
                        <%= receiver %>
                    </div>
                    <% } %>
                        <div class="count"><span>0</span> messages</div>
        </div>
  

</body>

<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
    <script src="./socket.io/socket.io.js"></script>


    </script>
    <script src="https://raw.githack.com/Junzlay/emoji-library/main/emoji-hover.js"></script>
    <script src="https://raw.githack.com/Junzlay/emoji-library/main/emoji.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./assets/js/jquery.min.js" type="text/javascript"></script>
    <script src="./assets/js/underscore-min.js" type="text/javascript"></script>
    <script src="./assets/js/backbone-min.js" type="text/javascript"></script>
    <script src="./assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="./assets/js/socket.io-1.4.5.js"></script>

    <script src="./modules/message-sender.js" type="text/javascript"></script>

    <script src="./app/main.js" type="text/javascript"></script>
    <script src="./app/home.js" type="text/javascript"></script>
    <script src="./app/chat.js" type="text/javascript"></script>
    <script src="./app/utils.js" type="text/javascript"></script>

    <script type="text/javascript">
        App.Utils.templateLoader(["HomeView", "ChatView"], function () {
            app = new App.Router();
            Backbone.history.start();
        });


    </script>

</html>