<div class="ui mt-5">
    <div class="left-menu">
        <form action="#" class="search">
            <input placeholder="search..." type="search" name="" id="">
            <input type="submit" value="&#xf002;">
        </form>

        <menu class="list-friends"> 
            
        </menu>
    </div>

    <!-- this is for the chat view -->
    <div class="chat">
        <div class="top">
            <div class="receiver">
                <div class="avatar">
                    <i class="fa fa-user"></i>
                </div>
                <div class="info">
                    <div class="name" style="font-size: 19px;">Group Chat (all users)</div>
                    <div class="count" style="font-size: 10px;"><span>0</span> messages</div>
                </div>
            </div>

            <div class="usermenu">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> 
                   <%= username %>
                    <span class="caret"></span>
                    <!-- <span class="sr-only">Toggle Dropdown</span> -->
                  </button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" class="clear">Clear Messages</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" class="logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="chat-body">
            <ul class="messages" id="messages">
                    
            </ul>
          
        </div>
        <div >
            <p class="typing" style="margin-left:20px"></p>
        </div>
        <div class="write-form">
            <form>
                <input class="input-message" id="chat-input" data-emoji="true" name="emoji" style="font-size: 15px;" type="text" placeholder="Type your message here..." autocomplete="off" />
                <i class="fa fa-picture-o"></i>
                <i class="fa fa-file-o"></i>
                <button class="btn float-right mr-5 btn-success py-2" id="send" type="submit">Send</button>
            </form>
        </div>
    </div>
</div>