<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="alert alert-danger hide">
            This username is already taken.
        </div>
        <!-- <form>
            <div>
            <div class="form-group">
                <input type="text" name="username" id="username" placeholder="Enter your name to join.." class="form-control" autocomplete="off" required="true" /> 
            </div>
            <div class="form-group">
                <button class="btn btn-block btn-success" id="join" type="submit">Join Chat</button>
            </div>
        </div>
        </form> -->

        <div class="panel" style="margin-top: 150px;">
            <div class="state"><br><i class="fa fa-unlock-alt"></i><br>
                <h1>Chat Now!</h1>
            </div>
            <div class="form">
                <input class="text-info" placeholder='Enter your name to join..' name="username" id="username" type="text" autocomplete="off" required="true" />

                <button class="login" id="join" type="submit" style="width:160px;font-size: 12px;">Join Chat</button>
            </div>

        </div>
    </div>
</div>